<div class="col-lg-12 border-bottom white-bg" style="margin-right:0;margin-left:0;margin-bottom:10px;padding-bottom: 10px;">
    <h2>Comparar Marcas</h2>
    <ol class="breadcrumb">
        <li>
            <a href="javascript:;">Ganaderos</a>
        </li>
        <li class="active">
            <strong>Comparar Marcas</strong>
        </li>
    </ol>
</div>
<div class="wrapper wrapper-content">
    <div class="col-lg-12 text-center white-bg" style="padding: 30px 15px 15px 15px;">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <image-upload
                id="fileinput"
                [url]="urlImage"
                [headers]="options"
                [extensions]="['jpg']"
                [dropBoxMessage]="''"
                [buttonCaption]="'Imagen de muestra'"
                [clearButtonCaption] ="'Eliminar'"
                [beforeUpload]="onBeforeUpload"
                (uploadFinished)="onUploadFinished($event)"
                [max]="1"
                [preview]="false">
            </image-upload>
        </div>
        <div class="col-lg-12" style="margin-bottom:7px;margin-top: 10px;">
            <img id="img-load" class="img-responsive img-rounded" height="100" width="100" style="margin-left: auto; margin-right: auto;" src="">                
        </div>
    </div>
    <div class="col-lg-12 white-bg" style="padding: 30px 15px 15px 15px;margin-top: 15px;">

        <div class="col-lg-2" *ngFor="let img of message | paginate: { itemsPerPage: 12, currentPage: p }">
                <a href="javascript:;" (click)="confirmation(img.documento, pos, img.result)">
                    <div class="container-img" style="border-radius: 8px;">
                        <img src="{{img.imagen}}" alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">
                                <span class="label label-primary">{{img.documento}}</span><br>
                                <span class="label label-primary">{{img.nombre}}</span>
                                <span class="label label-primary">{{img.result * 100 | number : '1.2-2'}} %</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        <!--
        <div class="col-lg-2" *ngFor="let img of imagesResult | paginate: { itemsPerPage: 12, currentPage: p }">
            <a href="javascript:;" (click)="confirmation(img.imagen_compare_intermediate, pos, img.result_comparation)">
                <div class="container-img" style="border-radius: 8px;">
                    <img src="{{img.imagen_compare_intermediate.imagen}}" alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text">
                            <span class="label label-primary">{{img.imagen_compare_intermediate.propietario.documento}}</span><br>
                            <span class="label label-primary">{{img.imagen_compare_intermediate.propietario.nombre | uppercase}} {{img.imagen_compare_intermediate.propietario.apellido | uppercase}} {{img.imagen_compare_intermediate.propietario.segundo_apellido | uppercase}}</span>
                            <span class="label label-primary">{{img.result_comparation * 100 | number : '1.2-2'}} %</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        -->
    </div>
    <div class="col-lg-12 white-bg" style="padding: 30px 15px 15px 15px;">
        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
    </div>
    <simple-notifications [options]="optionsNotifications"></simple-notifications>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>

<!--
<div class="ibox float-e-margins" style="border-color: #e7eaec;">
    <div class="ibox-content">
        <div class="text-center" style="width:70%;padding-top:2px;padding-bottom:10px;border-radius:10px;">
            <a href="javascript:;" (click)="confirmation(img.imagen_compare_intermediate, pos, img.result_comparation)">
                <img class="img-responsive img-rounded" height="50" width="50" style="margin-left: auto; margin-right: auto; margin-bottom:5%;" src="{{img.imagen_compare_intermediate.imagen}}">
                <span class="label label-primary">{{img.imagen_compare_intermediate.propietario.nombre | uppercase}} {{img.imagen_compare_intermediate.propietario.apellido | uppercase}} {{img.imagen_compare_intermediate.propietario.segundo_apellido | uppercase}}</span>
                <span class="label label-primary">DOCUMENTO: {{img.imagen_compare_intermediate.propietario.documento}}</span><br>
                <span class="label label-primary">% COINCIDENCIA: {{img.result_comparation * 100 | number : '1.2-2'}}</span>
            </a>
        </div>
    </div>
</div>
-->